body{
background-image:url('../images/background2.png');
background-repeat:repeat-x;
background-attachment:fixed;
}

h1{
color: black;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

p{
color:#999999;
}

hr {
border:0px;
border-bottom:1px solid black;
}

h3{
font-size:35px;
margin:5px;
}

ul{
list-style-type:none;
}



#header{
background-image:url('../images/topbar.jpg');
height:54px;
margin-top:none;
padding-top:none;
position:fixed;
z-index:1;
}
#content{
background-color:none;

}

#footer{
position:fixed;
z-index:1;
bottom:0;
background-color:#888888;
}


#bandname{
margin-top:12px;
font-size:18px;
text-align:right;
}

#profilbanner{
padding-top:54px;
height:140px;
background-color:white;
}

#profilpic{
height:120px;
width:120px;
margin:10px;
border:solid 1px;
}

#name{
margin:20px;
}


#tabs{
padding:none;
width:943px;
height:16000px;
border-color:grey;
padding-top:54px;

}


.footext{
display:block;
text-align:center;
vertical-align:center;
height:10px;
}
.fixed{
margin-left:0px;
}

.mp3content{
background-color:#ededed;
border: 1px solid;
border-radius:5px;
box-shadow: 6px 6px 3px #888888;
padding:10px;
margin-bottom:20px;
}

.vid{
margin:10px;
}

.contentbox{
display:block;
padding:10px;
padding-bottom:10px;
}

.youtubecontent{
background-color:#ededed;
border: 1px solid;
border-radius:5px;
box-shadow:6px 6px 3px #888888;
padding:10px;
margin-bottom:20px;
}

.bandcontent{
background-color:#ededed;
border: 1px solid;
border-radius:5px;
box-shadow:6px 6px 3px #888888;
margin-bottom:20px;
margin-left:5px;
}

.eventcontent{
background-color:#ededed;
border: 1px solid;
border-radius:5px;
box-shadow:6px 6px 3px #888888;
padding:10px;
margin-bottom:20px;

}

.eventBox{
margin-bottom:5px;

}
.contenttitle{

}
.contentpic{
margin:5px;
}

.accordionHeight{
height:850px;
}

.pfeffi{
margin-top:8px;
margin-bottom:7px;
text-align:right;
}

.hidden{
visibility:hidden;
}

.hiddenuser{
visibility:hidden;
width:133px;
}

.hiddenguest{
visibility:hidden;
width:227px;
}


.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}


.space{
height:30px;
width:30px;
}

.container{
background-color:white;
}


.whitebox{
position:center;
width:950px;
height:350px;
background-color:white;
}

/*Searchfield */
#searchfield{
margin-left:10px;
margin-right:6px;
padding-right:10px;
margin-top:17px;
background:url(../images/bg_search-field.png) no-repeat;
}

#searchfield .textBox {
margin:1px;
margin-left:5px;
border:none;
}

#searchfield .button{
padding-top:3px;
}



fieldset{
border:none;
}
/*ende Searchfield */

/* dropdown */
.picM{
margin-top:16px;
margin-bottom:12px;
padding:0px;
}

.picR{
margin-bottom:20px;
padding:0px;
}
.picS{
margin-top:13px;
margin-bottom:12px;
padding:0px;
}
.pic{
margin-top:12px;
margin-bottom:12px;
padding:0px;
}
#radio{
position:center;
padding-top:13px;

}

#filter{
padding-top:10px;
}


.menu{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.menu ul{
background:#2d2d2f;
height:54px;
list-style:none;
margin:0;
padding:0;
}

.menu li{
float:left;
padding:0px 0px 0px 0px;
}

.menu li ul{
display:none;
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
}

.menu li a{
color:#999999;
display:block;
font-weight:normal;
line-height:54px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menu li a:hover{
background:#808082;
color:#FFFFFF;
text-decoration:none;
-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
}

.menu ul li:hover a{
background:#808082;
color:#FFFFFF;
text-decoration:none;
height:54px;
}

.menu li:hover ul{
display:block; 
}

.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
background:#2d2d2f;
}

.menu li:hover li a{
background:none;
}

.menu li ul a{
display:block;
height:54px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
border:0px;
color:#ffffff;
text-decoration:none;
background:#808082;
-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3); 
}
/*ende dropdown */

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 25px; 
		left: 50%;
		margin-left: -510px;
		width: 950px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
