<div class="eventcontent span-22">
	<div class="contentbox">
		<div class="span-2 contentpic "><img src="{ bandimglink }" height="80px" width="80px"></div>
		<div class="span-17 prepend-1"><div class="contenttitle">{ bandname }</div><p>created an event</a></p></div>
		<div class="span-17 prepend-1"><hr></div>
		<div class="span-17 prepend-1 eventBox last">
		<div class="span-2 eventpic"><img src="{eventimglink }" height="80px" width="80px"></div>
		<div class="span-5 prepend-1"><div class="eventtitle"><a href="#">{ eventname }</a></div><p>{ date }</p></div></div>
	</div>
</div>