<!-- Achutng!!!!!!
	Es kann nicht einfach die URL eines Youtubevideos verwendet werden!
	z.B. http://www.youtube.com/watch?v=c4BLVznuWnU funktioniert nicht muss zu http://www.youtube.com/embed/c4BLVznuWnU umgespeichert werden!
-->
<div class="c_container span-22 effect7">
	<div class="c_header span-22">
		<div class="c_pic span-2"><img src="{{ asset(picture) }}" height="60" width="60"></div>
		<div class="c_name span-17"><h6>{{ name }}</h6></div>
		<div class="c_delete span-1 prepend-1 last"><button class="delbut" ><img src="images/delete.png"></button></div>
	</div>
	<hr>
	<div class="c_content span-22">
		<div class="c_songtitle span-20 prepend-1"><p>{{ songname }}</p></div>
		<div class="c_video span-20 prepend-1">
			<iframe width="560" height="315" src="{{asset(youtubelink) }}" frameborder="0" allowfullscreen></iframe>
			</div>
	</div>
	<hr>
	<div class="c_footer span-22">
		<div class="c_judge span-11">
			<form method="post">
				<ul class="radio-rater">
					<li><input type="radio" name="poem[rating]" value="1" id="pr-1"><label for="pr-1">... God ..</label></li>
					<li><input type="radio" checked="checked" name="poem[rating]" value="2" id="pr-2"><label for="mr-2">Not impressed</label></li>
					<li><input type="radio" name="poem[rating]" value="3" id="pr-3"><label for="pr-3">Fair</label></li>
					<li><input type="radio" name="poem[rating]" checked="checked" value="4" id="pr-4"><label for="pr-4">Damn Good</label></li>
					<li><input type="radio" name="poem[rating]" value="5" id="pr-5"><label for="pr-5">Brilliant!</label></li>
					<li class="unrate"><input type="radio" name="poem[rating]" value="" id="pr-unrate"><label for="pr-unrate">[clear rating]</label></li>
				</ul>
				<!--<input type="submit" value="rate it!">-->
			</form>
		</div>
		<div class="c_tags span-10">{ tags }</div>	
	</div>
</div>