<!-- Achutng!!!!!!
	Es kann nicht einfach die URL eines Youtubevideos verwendet werden!
	z.B. http://www.youtube.com/watch?v=c4BLVznuWnU funktioniert nicht muss zu http://www.youtube.com/embed/c4BLVznuWnU umgespeichert werden!
-->
<div class="youtubecontent span-22">
	<div class="contentbox">
		<div class="span-2 contentpic "><img src="{{ profilpic }}" height="80px" width="80px"></div>
		<div class="span-17 prepend-1"><div class="contenttitle">{{ bandname }}</div><p>{{ songname }}</p></div>
		<div class="span-17 prepend-1"><hr></div>
		<div class="span-17 prepend-1 vid"><iframe width="560" height="315" src="{{ youtubeLink }}" frameborder="0" allowfullscreen></iframe></div>
	</div>
</div>