{% block body %}
	<div id="content">
		{% block tabcontent %} 
		<div class="abstand">
		<div class="span-22 prepend-2 last">	<h3 class="alt">{{ title }}</h3></div>
			
			<ul>
				{% for object in objects %}
					{% if object.type == "simple" %}
					    {% include 'BBLWebBundle:content:simple.html.twig' 
						with {'picture': object.picture, 'link': object.link, 'name': object.name, 'info': object.info} %}
						
					{% elseif object.type == "mp3" %}
						{% include 'BBLWebBundle:content:mp3.html.twig'
						with {'picture': object.picture, 'link': object.link, 'name': object.name, 'info': object.info} %}
						
					{% elseif object.type == "video" %}
					    {% include 'BBLWebBundle:content:video.html.twig' 
						with {'picture': object.picture, 'link': object.link, 'name': object.name, 'info': object.info} %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		{% endblock %}
	</div> 
{% endblock %}