{% extends 'BBLWebBundle:Base:layout.html.twig' %}
	{% block content %}
		<div id="profilbanner" class="span-24">
			<div id="profilpic" class="span-4"><img src="{{ pic }}" height="120px" width="120px"></div> <div id="profname" class="span-10 last"><h1 class="alt"> {{ eventname }}</h1></div>
		</div>
		<hr>
		<div id="profcontent">
			<div id="tabs" class="span-24">
				<ul>
					<li><a href="#tabs-1">INFORMATION</a></li>
					<li><a href="#tabs-2">BANDS</a></li>
				</ul>
				
				<div id="tabs-1" class="min">
				</div>
		
				<div id="tabs-2"class="min">
				</div>
			</div>
		</div>
	{% endblock %}
	
{% block javascript %}
	{{ parent() }}
{% endblock %}

	