{% extends 'BBLWebBundle:Base:layout.html.twig' %}


{% block header %}
	{% include 'BBLWebBundle:Base:headerreg.html.twig' %}
{% endblock %}
{% block content %}	
	<div id="content" class="span-24">
			<div id="accordion">
				<h3>Your event history</h3>
				<div>
					List of events where you participate.
				</div>
				<h3>Create Event</h3>
				<div>
				<!-- action has to be edited!-->
						<div class="span-24">
							<div class="span-4 prepend-1 pfeffi">Eventname:</div>
							<div class="span-4 prepend-1 last"><input type="text" name="eventname" id="eveName"></div>
						</div>
						<div class="span-24">
							<div class="span-4 prepend-1 pfeffi">Information:</div>
							<div class="span-10 prepend-1 last"><textarea placeholder="Information about your event..." id="info"></textarea></div>
						</div>
						<div class="span-24">
							<div class="span-4 prepend-1 pfeffi">Location:</div>
							<div class="span-4 prepend-1">
								<select data-placeholder="Location..." name="location" id="location">
									<option></option>
								</select>
							</div>
							
						</div>
						<div class="span-24">
							<div class="span-4 prepend-1 pfeffi">Add Artists:</div>
							<div class="span-4 prepend-1"><select name="favArtist" id="favArtist" data-placeholder="Choose Artists..."  multiple style="width:350px;" tabindex="4">
							</select></div>
						</div>
						<div class="span-24">
							<div class="span-4 prepend-1 pfeffi">Date:</div>
							<div class="span-4 prepend-1 last"><input name="date" id="date"></div>
						</div>
						<div class="span-24">
							<div class="span-4 prepend-1 pfeffi">Time:</div>
							<div class="span-4 prepend-1 last"><input type="time" name="time" id="time" placeholder="HH:MM"></div>
						</div>
						<div class="span-24 prepend-6"><button id="evebut">Create</button></div>
				</div>
			</div>
		</div>
{% endblock %}

{% block javascript %}
// <script>
{{ parent() }}
<!-- accordion-->
	$(document).ready(function(){
		accodionNdThatStuff();
		createEvent();
	});

function accodionNdThatStuff()
{

	//$("#favArtist").chosen();
	$( "#accordion" ).accordion({
		active:false,
		collapsible:true
	});
	$( "#date" ).datepicker();	
}

function createEvent()
{
	$("#evebut").click(function(){
		var ids = new Array();
		$("#favArtist option:selected").each(function(){ids.push($(this).attr("artid"));});
		$.ajax({
		  type: "post",
		  url: "{{ path('createEvent') }}",
		  data: {Name: $("#eveName").val(),
			  	 id: JSON.stringify(ids),
		  		 Info: $("#info").val(),
		  		 Artists: JSON.stringify($("#favArtist").val()),
		  		 Region: $("#location").val,
				 State:   $('option:selected', '#location').attr('fedstate'),
			     Region:  $('option:selected', '#location').attr('country'),
			     Date: $('#date').val(),
			     Time: $('#time').val()},
		 success: function() {
 					 window.location = "{{ path('bbl_web_homepage') }}";
  		 }
		});
	});
}




{% endblock %}