{% extends 'BBLWebBundle:Base:headerlayout.html.twig' %}
{% block headermain %}
	<div class="menu">
		<ul>
			<li><a href="{{ path('bbl_web_homepage') }}">Clangdom</a></li>
		</ul>
	</div>
{% endblock %}
{% block dialogs %}
{% endblock %}
