<div id="header" class="span-24">
	<div class="menu">
		<ul>
			<li><a href="{{ path('bbl_web_homepage') }}">Clangdom</a></li>
		</ul>
	</div>

	<!--  Old registry header:
	<div class="span-5"><a href="{{ path('bbl_web_homepage') }}"><img src="{{ asset('bundles/bblweb/images/Clangdomlogo.jpg') }}"></a></div>-->
</div>