{% extends '::base.html.twig' %}
{% block body %} 

	{% block header %}
	{% endblock %}
	
	<div id="content" class="span-24">
		{% block content %} 
		{% endblock %}
	</div>

	{% block footer %}
		<!--<div id="footer" class="span-24 transparent"> 
			<h1> THIS IS OUR AWESOME FOOTER!!!!!!</h1>
                     </div>-->
	{% endblock %}
{% endblock %}