{% extends '::base.html.twig' %}
{% block body %} 

	
		{% if sesson == true %}
			{% include 'BBLWebBundle:User:headeruser.html.twig' with { 'name' : name } %}
		{% else %}
			{% include 'BBLWebBundle:Base:headerguest.html.twig' %}
		{% endif %}
		
	
	<div id="content" class="span-24">
		{% block content %} 
		{% endblock %}
	</div>

	
	<div id="footer" class="span-24 transparent"> 

			<h1> THIS IS OUR AWESOME FOOTER!!!!!!</h1>
	</div>
	
<!-- Pop ups --> 
	<div id="logModal" class="reveal-modal span-24 showgrid">
			<h3 class="alt">Log in to your CLANGDOM account here. </h3>
			<hr>
			<p>
			Email or Nick: <input type="text" id="login_name" method="post"><br />
			Password: <input type="text" id="login_password" method="post">Forgot your password? <a href="#"> Retrieve here.</a><br />
			<input type="checkbox" id="remember" value="remember">Remember me.
			<button id="logbut">logIN</button>
			<a class="close-reveal-modal">&#215;</a>
			</p>
	</div>
{% endblock %}
{% block javascript %}
{{ parent() }}
 //--------------------- AJAX Login ------------
$(document).ready(function(){
	$("#logbut").click(function(){
		var passhash = CryptoJS.SHA3($("#login_password").val()).toString();
		var url = '{{ path('login') }}';
			$.ajax({
 				  type: "post",
 				  url: url,
  				  data: {Email: $("#login_name").val(),
  				  		 Pwd:   passhash},
 				  success: function() {
     				 window.location = "{{ path('bbl_web_homepage') }}";
  				  },
  				  error: function() {
  				     alert('No! This is wrong');
  				  }
			});
	});
});  
{% endblock %}