{% extends 'BBLWebBundle:Base:layout.html.twig' %}

{% block head %} 
{{ parent() }}
{% endblock %} 

{% block content %}	
	
	<div id="whitebox" class="span-24">
		<div class="abstand">
			<h2 class="alt">Create your account!</h2>
			<hr>
			
			<div class="span-4 prepend-2">Email or Nick:</div>
			<div class="span-16 last"><input type="text" name="name" method="post"></div><br />
			<div class="span-4 prepend-2">Password:</div>
			<div class="span-16 last"><input type="text" name="email_1" method="post"></div><br />
			<div class="span-22 prepend-2"><input type="submit" name="submit" value="LOGIN"></div>
		</div>
	</div>
	
{% endblock %}