{% extends 'BBLWebBundle:Base:layout.html.twig' %}
{% block header %} 
{{ parent() }}

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>
 <style type="text/css">
			body { font-family: "HelveticaNeue","Helvetica-Neue", "Helvetica", "Arial", sans-serif; }
			.big-link { display:block; margin-top: 100px; text-align: center; font-size: 70px; color: #06f; }
</style>
{% endblock %} 
{% block content %}
<!-- Tabs
     ------------------------------------------------------------------------------------------------ -->
	 <!-- main.twig -->
	<div id="tabs" class="span-24">
		<ul>
			<li><a href="#tabs-1">HOTSPOT</a></li>
			<li><a href="#tabs-2">BANDS</a></li>
			<li><a href="#tabs-3">EVENTS</a></li>
			<li><a href="#tabs-4">FORUM</a></li>
		<!--	<li><a href="#tabs-5">JOIN CLANGDOM</a></li>
			<li><a href="#tabs-6">LOGIN</a></li>-->
		</ul>
		
<!-- Tabs-1
     ------------------------------------------------------------------------------------------------ -->
		<div id="tabs-1" class="min">
		</div>	
		
<!-- Tabs-2
     ------------------------------------------------------------------------------------------------ -->	
		<div id="tabs-2"class="min">
		</div>
		
<!-- Tabs-3
     ------------------------------------------------------------------------------------------------ -->
		<div id="tabs-3"class="min">
		</div>
		
<!-- Tabs-4
     ------------------------------------------------------------------------------------------------ -->
		<div id="tabs-4"class="min">
		</div>
		
	</div>
{% endblock %}
{# falls footer geaendert werden muss {% block footer %} {% endblock %} #}
