{% extends 'BBLWebBundle:Base:layout.html.twig' %}
{# falls header geaendert werden muss {% block header %} {% endblock %} #}
{% block content %} <p>Wow <a href="{{ path('registry') }}">hier</a> kann man sich registrieren. </p>{% endblock %}
{# falls footer geaendert werden muss {% block footer %} {% endblock %} #}
