{% extends 'BBLWebBundle:Base:layout.html.twig' %}


{% block content %}

<!-- Tabs
     ------------------------------------------------------------------------------------------------ -->
	 <!-- main.twig -->
	<div id="tabs" class="span-24">
		<ul>
			<li><a href="#tabs-1" type="hot">HOTSPOT</a></li>
			<li><a href="#tabs-2" type="bands">ARTISTS</a></li>
			<li><a href="#tabs-3" type="events">EVENTS</a></li>
			<li><a href="#tabs-4" type="forum">FORUM</a></li>
		</ul>
                <div id="dropdown-1" class="dropdown dropdown-tip">
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">Add to favorite</a></li>
                        <li><a id="open_rep" href="javascript:void(0);">Report</a></li>
                    </ul>
                </div>
<!-- Tabs-1
     ------------------------------------------------------------------------------------------------ -->
		<div id="tabs-1" class="min" load="true"></div>

		
<!-- Tabs-2
     ------------------------------------------------------------------------------------------------ -->	
		<div id="tabs-2" class="min" load="true"></div>
		
<!-- Tabs-3
     ------------------------------------------------------------------------------------------------ -->
		<div id="tabs-3" class="min" load="true"></div>
		
<!-- Tabs-4
     ------------------------------------------------------------------------------------------------ -->
		<div id="tabs-4" class="min" load="true"></div>
	</div>
	<button onclick="testfunc()" id="yobut"> Yoo </button>
	<input type="text" id="yoInp">Yoo</input>
	
	

{% endblock %}

{% block javascript %}

{{ parent() }}
  
{% endblock %}

