{% extends 'BBLWebBundle:Base:layout.html.twig' %}

{% block content %}	
	
	<div id="whitebox" class="span-24 showgrid">
		<div class="abstand">
			<h2 class="alt">Create your account!</h2>
			<hr>
			
			<div class="span-4 prepend-2">Name:</div>
			<div class="span-16 last"><input type="text" name="name" id="regName"></div><br />
			<div class="span-4 prepend-2">Genre:</div>
			<div class="span-16 last"><select name="genre" id="regGenre">
											<option value=""></option>
											<option value="rock">Rock</option>
											<option value="metal">Metal</option>
											<option value="punk">Punk</option>
											<option value="jazz">Jazz</option>
											<option value="classic">Classic</option>
											<option value="pop">Pop</option>
											<option value="funk">Funk</option>
											<option value="schlager">Schlager</option>
											<option value="hiphop">Hip Hop</option>
											<option value="house">House</option>
										</select>+
			<select name="genre" id="regGenre">
											<option value=""></option>
											<option value="rock">Rock</option>
											<option value="metal">Metal</option>
											<option value="punk">Punk</option>
											<option value="jazz">Jazz</option>
											<option value="classic">Classic</option>
											<option value="pop">Pop</option>
											<option value="funk">Funk</option>
											<option value="schlager">Schlager</option>
											<option value="hiphop">Hip Hop</option>
											<option value="house">House</option>
										</select></div>
			<div class="span-4 prepend-2">Email:</div>
			<div class="span-16 last"><input type="text" name="email" id="regMail"></div><br />
			<div class="span-4 prepend-2">Password:</div>
			<div class="span-16 last"><input type="password" name="password_1" id="regPass1"></div><br />
			<div class="span-4 prepend-2">Confirm password:</div>
			<div class="span-16 last"><input type="password" name="password_2" id="regPass2"></div><br />
			<div class="span-22 prepend-2"><input type="submit" name="submit" value="SIGNUP" id="subbut"></div>
			
		</div>
	</div>
	
	
{% block javascript %}
<script>
var val = false;
$(document).ready(function(){
$("#subbut").click(function(){
		checkval();
	});
	hideLogos();
	   var passhash = CryptoJS.MD5(password).toString();
	
});

function hideLogos(){
 $("#topheader").attr('width', '950');
 $("#logLogo").remove();
 $("#regLogo").remove();
 $("#gap1").remove();
 
} 

function checkval(){
	if($("#regMail").val().indexOf("@") >= 0){
		var mailOke = true;
	}else{	alert("Bitte fuellen Sie eine gueltige Email-Adresse ein!");	}	
	
	if($("#regName").val()!==("")){
		var nameOke = true;	
	}else{	alert("Bitte geben Sie einen gueltigen Namen ein!");	}	
	
	if($("#regGenre").val()!==("")){
		var nameOke = true;	
	}else{	alert("Bitte waehlen Sie ein Genre aus!");	}
	
	if($("#regPass1").val()!==("")){
		var nameOke = true;	
	}else{	alert("Sie haben kein Passwort eingegeben!");	}
	
	if($("#regPass2").val()!==("")){
		var nameOke = true;	
	}else{	alert("Bitte bestaetigen Sie Ihr Passwort!");	}
}  


</script>
{% endblock %}

{% endblock %}

