{% extends 'BBLWebBundle:Base:layout.html.twig' %}

{% block content %}	
<div id="whitebox">
	
			{% if type == "no" %}
				{% include 'BBLWebBundle:Base:regnew.html.twig' %}
						
			{% elseif type == "art" %}
				{% include 'BBLWebBundle:Base:regart.html.twig' %}
				
			{% elseif type == "sou" %}
				{% include 'BBLWebBundle:Base:regsou.html.twig'  %}
				
			{% endif %}
</div>>
{% endblock %}

{% block javascript %}
{{ parent() }}
//<script>
var val = true;
$(document).ready(function(){
     $("#subbut").click(function(){
		checkval();
		var passhash = CryptoJS.SHA3($("#pwd_1").val()).toString();
		//if(val == true) {
		var url = '{{ path('signUp') }}';
			$.ajax({
 				  type: "post",
 				  url: url,
  				  data: {Name: $("#accName").val(),
  				  		 Email: $("#email_1").val(),
  				  		 Pwd: passhash,
  				  		 Genre: $("#regGenre").val(),
  				  		 Source: $("#regGenre").val(),
  				  		 Type: "Artist"},
 				  success: function() {
 				   	 alert('Thanks for signing up! You`ll be redirected in a few seconds...');
 				  	 setTimeout(function() {
 				  	 			window.location = "{{ path('bbl_web_homepage') }}";
 				  	 		    }
 				  	 , 3000); 
  				  }
			});
		//}
	});
	hideLogos();
	
	
	//-----+button-----
	 $(function() {
			    $( "#plus" ).button({
			      icons: {
			        primary: "ui-icon-circle-plus"
			      }
			     });
	 });
	 $("#plus").click(function(){
		 $("#regGenre2").show();
		 $("#plus").hide();
				             });
});
	
function hideLogos(){
 $("#topheader").attr('width', '950');
 $("#logLogo").remove();
 $("#regLogo").remove();
 $("#gap1").remove();
 
} 

function checkval(){

	if($("#prfName").val()!==("")){
		var nameOke = true;	
	}else{	alert("Please put in your name!");	}
	
	if($("#email_1").val().indexOf("@") >= 0){
		var mailOke = true;
	}else{	alert("Please select an email!");	}	
	
	if($("#email_2").val().indexOf("@") >= 0){
			var mailOke = true;
	}else{	alert("Please confirm your email!");	}	
	
	if($("#regGenre").val()!==("")){
		var nameOke = true;	
	}else{val = true;	alert("You forgot to choose a genre!");	}
	
	if($("#pwd_1").val()!==("")){
		var nameOke = true;	
	}else{	alert("Please type in a Password");	}
	
	if($("#pwd_1").val()!==("")){
		var nameOke = true;	
	}else{	alert("Please confirm your Password!");	}
	
	if($("#cbx").is(':checked')){
		var nameOke = true;	
	}else{	alert("you have to agree the user agreement!");	}
}  

/*
	var sameMail = ("#email_1").val();
	var confMail = ("#email_2").val();

if (sameMail == confmail){
			var mailOke = true;
		}else{
			alert("You confirmed the wrong Email!")
		

if($("#cbx").attr(':checked')){
		var nameOke = true;	
	}else{	alert("you have to agree the user agreement!");	} 
*/
{% endblock %}


		
