{% extends 'BBLWebBundle:Base:layout.html.twig' %}

{% block content %}	
	
	<div id="whitebox" class="span-24">
		<div class="abstand">
			<h2 class="alt">Create your account!</h2>
			<hr>
			
			<div class="span-4 prepend-2">Name:</div>
			<div class="span-16 last"><input type="text" name="name" id="regName"></div><br />
			<div class="span-4 prepend-2">Genre:</div>
			<div class="span-16 last"><input type="text" name="genre" id="regGenre"></div><br />
			<div class="span-4 prepend-2">Email:</div>
			<div class="span-16 last"><input type="text" name="email" id="regMail"></div><br />
			<div class="span-4 prepend-2">Password:</div>
			<div class="span-16 last"><input type="password" name="password_1" id="regPass1"></div><br />
			<div class="span-4 prepend-2">Confirm password:</div>
			<div class="span-16 last"><input type="password" name="password_2" id="regPass2"></div><br />
			<div class="span-22 prepend-2"><input type="submit" name="submit" value="SIGNUP" id="subbut"></div><br />
			<div class="span-22 prepend-2"><button  id="test" action="{{ path('signUp') }}" methode="post">OMA!!!</button></div>
		</div>
	</div>
	
{% endblock %}

{% block javascript %}
$(document).ready(function(){
	$("#test").click(function() {$.post('{{ path('signUp') }}')});
	hideLogos();
});
	
function hideLogos(){
 $("#topheader").attr('width', '950');
 $("#logLogo").remove();
 $("#regLogo").remove();
 $("#gap1").remove();
} 
{% endblock %}



