{% extends 'BBLWebBundle:Base:layout.html.twig' %}

{% block content %}	
	
	<div id="whitebox" class="span-24">
		<div class="abstand">
			<h2 class="alt">Create your account!</h2>
			<hr>
			
			<div class="span-4 prepend-2">Name:</div>
			<div class="span-16 last"><input type="text" name="name" id="regName"></div><br />
			<div class="span-4 prepend-2">Genre:</div>
			<div class="span-16 last"><input type="text" name="genre" id="regGenre"></div><br />
			<div class="span-4 prepend-2">Email:</div>
			<div class="span-16 last"><input type="text" name="email" id="regMail"></div><br />
			<div class="span-4 prepend-2">Password:</div>
			<div class="span-16 last"><input type="password" name="password_1" id="regPass1"></div><br />
			<div class="span-4 prepend-2">Confirm password:</div>
			<div class="span-16 last"><input type="password" name="password_2" id="regPass2"></div><br />
			<div class="span-22 prepend-2"><input type="submit" name="submit" value="SIGNUP" id="subbut"></div><br />
			<div class="span-22 prepend-2"><button  id="test" action="{{ path('signUp') }}" methode="post">OMA!!!</button></div>
		</div>
	</div>
	
	
{% block javascript %}
<script>
var val = false;
$(document).ready(function(){
	$("#test").click(function() {$.post('{{ path('signUp') }}')});
	hideLogos();
	if(!val) $("#subbut").prop("disabled", true).addClass("ui-state-disabled");
	$("#regMail").focusout(checkval());
	
	   var passhash = CryptoJS.MD5(password).toString();

 	  /* $.post(
  	    ', 
  	    { user: username, pass: passhash },
  	    onLogin,   'json' );*/
});

function hideLogos(){
 $("#topheader").attr('width', '950');
 $("#logLogo").remove();
 $("#regLogo").remove();
 $("#gap1").remove();
} 

function checkval(){
	if($("#regMail").val().indexOf("@") >= 0) val = true;
	if(val) $("#subbut").removeProp("disabled").removeClass("ui-state-disabled");
	}  
	
</script>
{% endblock %}

{% endblock %}

