{% extends 'BBLWebBundle:Base:reg.html.twig' %}

{% block header %}
	{% include 'BBLWebBundle:Base:headerreg.html.twig' %}
{% endblock %}
{% block content %}
<div id="whitebox">
  <div id="content" class="span-24">
	<div class="abstand">
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Artistname:</div>
			<div class="span-4 prepend-1 last"><input type="text" name="accname" id="accName"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Genre:</div>
			<div class="span-6 prepend-1 last"><select name="genre" id="regGenre">
												<option value="Rock">Rock</option>
												<option value="Metal">Metal</option>
												<option value="Punk">Punk</option>
												<option value="Jazz">Jazz</option>
												<option value="Classic">Classic</option>
												<option value="Pop">Pop</option>
												<option value="Funk">Funk</option>
												<option value="Schlager">Schlager</option>
												<option value="Oma?">Hip Hop</option>
												<option value="House">House</option>
											</select> 
										<button id="plus"></button>
										<select name="genre" id="regGenre2" style="display: none">
											<option value=""></option>
											<option value="Rock">Rock</option>
											<option value="Metal">Metal</option>
											<option value="Punk">Punk</option>
											<option value="Jazz">Jazz</option>
											<option value="Classic">Classic</option>
											<option value="Pop">Pop</option>
											<option value="Funk">Funk</option>
											<option value="Schlager">Schlager</option>
											<option value="Hiphop">Hip Hop</option>
											<option value="House">House</option>
										</select></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Email:</div>
			<div class="span-4 prepend-1 "><Input type="email" name="email" id="email_1"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Confirm Email:</div>
			<div class="span-4 prepend-1"><input type="email" name="email" id="email_2"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Password:</div>
			<div class="span-4 prepend-1"><input type="password" name="password" id="pwd_1"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Confirm password:</div>
			<div class="span-4 prepend-1"><input type="password" name="password2" id="pwd_2"></div>
		</div>
			<div class="span-24 prepend-1">
			<input type="checkbox" name="agreement" value="" id="cbx">I've read and agree the <a href="#">user agreement</a>.
		</div>
		<div class="span-24 prepend-1">
			<br /><button id="subbut">Sign Up</button>
		</div>
		
	</div>
</div>
</div>
{% endblock %}

{% block javascript %}
//<script>
var val = false;
$(document).ready(function(){
     $("#subbut").click(function(){
		checkval();
		var passhash = CryptoJS.SHA3($("#pwd_1").val()).toString();
		val = checkval();
		if(val == true) {
			var url = '{{ path('signUp') }}';
			$.ajax({
 				  type: "post",
 				  url: url,
  				  data: {Name: $("#accName").val(),
  				  		 Email: $("#email_1").val(),
  				  		 Pwd: passhash,
  				  		 Genre: $("#regGenre").val(),
  				  		 Genre2: $("#regGenre2").val(),
  				  		 Type: "Artist"},
 				  success: function() {
 				   	 alert('Thanks for signing up! You`ll be redirected in a few seconds...');
 				  	 setTimeout(function() {
 				  	 			window.location = "{{ path('bbl_web_homepage') }}";
 				  	 		    }
 				  	 , 3000); 
  				  },
  				  error: function(jqXHR, error, errorThrown) {
  				     	if (jqXHR.status == '409') {
  	  				     	if(jqXHR.responseText == 'mail') alert('It works');
  	  				     	else alert('it didnt work');
  				      	}
  				    	else //server returned Exception
  				  		$("html").html(jqXHR.responseText);
  				  	
  				  
  				  }
			});
		}
	});
	
	//-----+button-----
	 $(function() {
			    $( "#plus" ).button({
			      icons: {
			        primary: "ui-icon-circle-plus"
			      }
			     });
	 });
	 $("#plus").click(function(){
		 $("#regGenre2").show();
		 $("#plus").hide();
				             });
});

function checkval(){
	var count = 0;
	if($("#prfName").val()!==("")){
		count++;	
	}else{	alert("Please put in your name!");	}
	
	if($("#email_1").val() == $("#email_2").val()){
		count++;
	}else{	alert("Please confirm your email again!");	}	
	
	if($("#regGenre").val()!==("")){
		count++;
	}else{alert("You forgot to choose a genre!");	}
	
	if($("#pwd_1").val()!==("")){
		count++;
	}else{	alert("Please type in a Password");	}
	
	if($("#pwd_1").val()!==("")){
		count++;	
	}else{	alert("Please confirm your Password!");	}
	
	if($("#cbx").is(':checked')){
		count++;
	}else{	alert("you have to agree the user agreement!");	}
	
	if(count == 6) return true;
	
}  

{% endblock %}