{% extends 'BBLWebBundle:Base:layout.html.twig' %}

{% block content %}	
	
	<div id="whitebox" class="span-24 showgrid">
		
		<h3 class="alt">1. Step: Artist or Source?</h3>
		<hr><br />
		<div class="span-24">
			<div class=" span-7 prepend-1"><h4>Artist:</h4>
											<p>An Artist plays the music.<br />
											Artist involves Bands,individual musicans,<br />
											choirs and other variants. If you make music,<br />
											then you are an Artist</p></div>
			<div class="span-11 prepend-1"><h4>Source:</h4>
											<p>The Source supplies the Artist in a way.<br />
											Sources includes Studios, seller,organizer,<br />
											mediators, music shools and teachers.<br />
											If you supply or commercialize music Artists,<br />
											then you are a Source.</p></div>
		</div>
		<div class="span-24">
		<div class="span-3 prepend-2"><button id="artbut">I'm an artist!</button></div>
		<div class="span-3 prepend-6"><button id="soubut">I'm a source!</button></div>
		</div>
		
			
		
	</div>
	
{% endblock %}

{% block javascript %}
{{ parent() }}
var val = true;
$(document).ready(function(){
     $("#subbut").click(function(){
		//checkval();
		var passhash = CryptoJS.SHA3($("#pwd_1").val()).toString();
		//if(val == true) {
		var url = '{{ path('signUp') }}';
			$.ajax({
 				  type: "post",
 				  url: url,
  				  data: {Name: $("#accName").val(),
  				  		 Email: $("#email_1").val(),
  				  		 Pwd: passhash,
  				  		 Genre: $("#regGenre").val()},
 				  success: function() {
 				  //Change this!!
 				   	 alert('Thanks for signing up! You`ll be redirected in a few seconds...');
 				  	 setTimeout(function() {
 				  	 			window.location = "{{ path('bbl_web_homepage') }}";
 				  	 		    }
 				  	 , 3000); 
  				  }
			});
		//}
	});
	hideLogos();
});
	
function hideLogos(){
 $("#topheader").attr('width', '950');
 $("#logLogo").remove();
 $("#regLogo").remove();
 $("#gap1").remove();
 
} 

/*function checkval(){
	if($("#regMail").val().indexOf("@") >= 0){
		var mailOke = true;
	}else{	alert("Bitte fuellen Sie eine gueltige Email-Adresse ein!");	}	
	
	if($("#regMail1").val().indexOf("@") >= 0){
		var mailOke = true;
	}else{	alert("Bitte bestaetigen Sie Ihre Email-Adresse!");	}	
	
	if($("#regName").val()!==("")){
		var nameOke = true;	
	}else{	alert("Bitte geben Sie einen gueltigen Namen ein!");	}	
	
	if($("#regGenre").val()!==("")){
		var nameOke = true;	
	}else{val = true;	alert("Bitte waehlen Sie ein Genre aus!");	}
	
	if($("#regPass1").val()!==("")){
		var nameOke = true;	
	}else{	alert("Sie haben kein Passwort eingegeben!");	}
	
	if($("#regPass2").val()!==("")){
		var nameOke = true;	
	}else{	alert("Bitte bestaetigen Sie Ihr Passwort!");	}
}  
*/

{% endblock %}