{% extends 'BBLWebBundle:Base:reg.html.twig' %}

{% block header %}
	{% include 'BBLWebBundle:Base:headerreg.html.twig' %}
{% endblock %}
{% block content %}
<div id="whitebox">
<div id="content whitebox" class="span-24">
	<div class="abstand">
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Sourcename:</div>
			<div class="span-4 prepend-1 last"><input type="text" name="accname" id="accName"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Location:</div>
			<div class="span-6 prepend-1 last"><select name="Location" id="regCou">
													<option value="Austria">Austria</option>
												</select>
												<select name="Location1" id="regSta">
													<option value="Tirol">Tirol</option>
												</select>
												<select name="Location2" id="regReg">
													<option value="Innsbruck">Innsbruck</option>
												</select></div>
												
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Task:</div>
			<div class="span-3 prepend-1" id="checks"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Email:</div>
			<div class="span-4 prepend-1 "><Input type="email" name="email" id="email_1"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Confirm Email:</div>
			<div class="span-4 prepend-1"><input type="email" name="email" id="email_2"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Password:</div>
			<div class="span-4 prepend-1"><input type="password" name="password" id="pwd_1"></div>
		</div>
		<div class="span-24">
			<div class="span-3 prepend-1 pfeffi">Confirm password:</div>
			<div class="span-4 prepend-1"><input type="password" name="password2" id="pwd_2"></div>
		</div>
			<div class="span-24 prepend-1">
			<input type="checkbox" name="agreement" value="" id="cbx">I've read and agree the <a href="#">user agreement</a>.
		</div>
		<div class="span-24 prepend-1">
			<br /><button id="subbut">Sign Up</button>
		</div>
	</div>
</div>
</div>
{% endblock %}
{% block javascript %}
//<script>
var val = true;
$(document).ready(function(){
	getFormData();
	signUpAction();
    
});
//---- Fill Html with Ajax ----
function getFormData(){
	$.ajax({
		 type: "post",
		 url: "{{ path('fillSource') }}",
		 success: function(data) {
			 var length = data.Tasks.length;
			 for(var i = 0; i < length; i++){
			 	$("#checks").append('<input type="checkbox" id="task' + i + '" name="' + data.Tasks[i] + '">' + data.Tasks[i] + '</input> <br />');
			 }
			/* var length = Country.length;
			 element = null;
			 for(var i = 0; i < length; i++){
			 	$("#regCou").append('<option value="' + Country[i] + '">' + Country[i] + '</option>');
		 	 }*/
		}
	});
}


// ----- Sign Up -----
function signUpAction() {
	 $("#subbut").click(function(){
		//checkval();
		var passhash = CryptoJS.SHA3($("#pwd_1").val()).toString();
		//if(val == true) {
		var url = '{{ path('signUp') }}';
		var tasks = getTasks();
		$.ajax({
	 		 type: "post",
	 		 url: url,
	  		 data: {Name: $("#accName").val(),
	  				Email: $("#email_1").val(),
	  				Pwd: passhash,
	  		 		Tasks: tasks,
	  		 		Type: "Source",
	  		 		Country: $("#regCou").val(),
	  				State:   $("#regSta").val(),
					Region:  $("#regReg").val()},
	 		 success: function() {
	 			 alert('Thanks for signing up! You`ll be redirected in a few seconds...');
	 					 setTimeout(function() {
	 				  	 	window.location = "{{ path('bbl_web_homepage') }}";
	 				  	  }
	 				  	 , 3000); 
	  				  }
				});
			//}
		});
}
/*
function checkval(){

	if($("#prfName").val()!==("")){
		var nameOke = true;	
	}else{	alert("Please put in your name!");	}
	
	if($("#email_1").val().indexOf("@") >= 0){
		var mailOke = true;
	}else{	alert("Please select an email!");	}	
	
	if($("#email_2").val().indexOf("@") >= 0){
			var mailOke = true;
	}else{	alert("Please confirm your email!");	}	
	
	if($("#regGenre").val()!==("")){
		var nameOke = true;	
	}else{val = true;	alert("You forgot to choose a genre!");	}
	
	if($("#pwd_1").val()!==("")){
		var nameOke = true;	
	}else{	alert("Please type in a Password");	}
	
	if($("#pwd_1").val()!==("")){
		var nameOke = true;	
	}else{	alert("Please confirm your Password!");	}
	
	if($("#cbx").is(':checked')){
		var nameOke = true;	
	}else{	alert("you have to agree the user agreement!");	}
}  
*/

//------    Helping Methodes ----
function getTasks()
{	
	var tasks = new Array();
	$('input[id^="task"]').each(function() {
		if($(this).is(':checked')) tasks.push($(this).prop("name"));
	});
	return tasks;
}
{% endblock %}
