body{
background-image:url('../../bundles/bblweb/images/background.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}

h1{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

hr {
border:0px;
border-bottom:1px solid black;
}

h3{
font-size:35px;
margin:5px;
}

ul{
list-style-type:none;
}

#header{
background-image:url('../../bundles/bblweb/images/topbar.jpg');
height:65px;
margin-top:none;
}

#whitebox{
background-color:white;
height:450px;
margin-top:50px;
}

#footer{
width:950px;
height:161px;
}
#searchfield{
margin-top:3px;
}


#bandname{
margin-top:12px;
font-size:18px;
text-align:right;
}

#profilbanner{
margin-bottom:20px;
height:140px;
background-color:white;
}

#profilpic{
margin:10px;
}

#name{
margin:20px;
}

#tabs{
width:943px;
}

.abstand{
margin-top:30px;
}

.moveup{
margin-bottom:5px;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.min{
min-height:450px;
overflow: auto;
overflow-x:hidden;
}