body{
background-image:url('../bundles/bblweb/images/stage.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}

h1{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

hr{
color:black;
}

ul{
list-style-type:none;
}

#header1{
height:155px;
}

#whitebox{
background:white;
height:450px;
margin-top:50px;
}

#footer{
background-image:url('../bundles/bblweb/images/header.jpg');
width:950px;
height:161px;
}

#tabs{
margin-top:50px;
width:943px;
}

.abstand{
margin:20px;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.min{
min-height:450px;
}