body{
background-image:url('../bundles/bblweb/images/background.jpg');
background-repeat:repeat-x;
background-size:100% 100%;
}

h1{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

hr{
border:0px;
border-bottom:1px solid black;
}

ul{
list-style-type:none;
}


#header{
background-image:url('../bundles/bblweb/images/topbar.jpg');
height:60px;
}

#searchfield{
margin-top:3px;
}

#whitebox{
background:white;
height:450px;
margin-top:50px;
}

#footer{
background-image:url('../bundles/bblweb/images/header.jpg');
width:950px;
height:161px;
}

#tabs{
margin-top:50px;
width:943px;
}

#bandname{
margin-top:12px;
font-size:18px;
text-align:right;
}
#profilbanner{
margin-bottom:20px;
height:140px;
background-color:white;
}

#profilpic{
margin:10px;
}

#name{
margin:20px;
}

.abstand{
margin:20px;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.min{
min-height:450px;
}

.min{
min-height:450px;
max-height:450px;
}

.space{
height:30px;
width:30px;
}
