<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Clangdom{% endblock %}</title>
        {% stylesheets 'bundles/bblweb/css/*' filter='cssrewrite' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts %}
		{% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
