{% extends 'BBLWebBundle:Base:layout.html.twig' %}
{% block header %}
	{% if sesson == true %}
			{% include 'BBLWebBundle:User:headeruser.html.twig' with { 'name' : name } %}
		{% else %}
			{% include 'BBLWebBundle:Base:headerguest.html.twig' %}
	{% endif %}
{% endblock %}
	{% block content %}
		<div id="profilbanner" class="span-24">
			<div id="profilpic" class="span-4"><img src="{{ asset(pic) }}" height="120px" width="120px"></div> <div id="profname" class="span-10 last"><h1> {{ profname }}</h1></div>
		</div>
		<hr>
		<div id="profcontent">
			<div id="tabs" class="span-24">
				<ul>
					<li><a href="#tabs-1" type="dash">DASHBOARD</a></li>
					<li><a href="#tabs-2" type="music">MUSIC</a></li>
					<li><a href="#tabs-3" type="video">VIDEOS</a></li>
					<li><a href="#tabs-4" type="about">ABOUT</a></li>
				</ul>
				
				<div id="tabs-1" class="min">
				</div>
		
				<div id="tabs-2"class="min">
				</div>
		
				<div id="tabs-3"class="min">
				</div>
		
				<div id="tabs-4"class="min">
				</div>
			</div>
		</div>
	{% endblock %}
	
{% block javascript %}
{{ parent()}}
{% endblock %}

	